.todo-list-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;


	&-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

	}

	.todo-list-page-content {
		display: flex;
		justify-content: left;
		width: 700px;
	}

	.todo-list-page-total-count {
		align-items: baseline;
		padding: 5px;
		margin-left: 40px;
	}

	@media (max-width: 800px) {
		
		.todo-list-page-content {
			flex-direction: column; 
			align-items: center; 
			width: 100%;
		}

		.todo-list-page-total-count {
			margin-left: 0px;
		}
	}

}